<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p class="form-group row">
    <%= form.label :commenter, class: 'col-sm-2 col-form-label' %><br>
    <%= form.text_field :commenter, class: 'form-control col-sm-10'%>
  </p>
 
  <p class="form-group row">
    <%= form.label :body, class: 'col-sm-2 col-form-label' %><br>
    <%= form.text_area :body, class: 'form-control col-sm-10' %>
  </p>
 
  <p>
    <%= form.submit :Submit, class: 'btn btn-primary' %>
  </p>
<% end %>