<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p class="form-group row">
    <%= form.label :title, class: 'col-sm-2 col-form-label' %><br>
    <%= form.text_field :title, class: 'form-control col-sm-10'%>
  </p>
 
  <p class="form-group row">
    <%= form.label :text, class: 'col-sm-2 col-form-label' %><br>
    <%= form.text_area :text, class: 'form-control col-sm-10' %>
  </p>
 
  <p>
    <%= form.submit :Submit, class: 'btn btn-primary' %>
  </p>
 
<% end %>