<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <h1>SABRINA STREET JOURNAL</h1>
    </div>  
    <div class="col-sm-4">
      <%= link_to 'Submit New Article', new_article_path, class: 'btn btn-primary float-right'%>
    </div>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
     </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.subtitle %></td>
          <td><%= article.category %></td>
          <td>
            <%= link_to article_path(article) do %>
              <%= fa_icon "external-link" %>
            <% end %>
            <%= link_to edit_article_path(article) do %>
              <%= fa_icon "pencil" %>
            <% end %>
            <%= link_to article_path(article), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= fa_icon "trash" %>
            <% end %>
          </td>
         </tr>
      <% end %>
    </tbody>
  </table>
</div>